[submodule "vendor/slime"]
	path = vendor/slime
	url = https://github.com/nablaone/slime.git
[submodule "vendor/unipoint"]
	path = vendor/unipoint
	url = https://github.com/apgwoz/unipoint.git
[submodule "vendor/ant-el"]
	path = vendor/ant-el
	url = https://github.com/apgwoz/ant-el.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/emms"]
	path = vendor/emms
	url = http://git.savannah.gnu.org/r/emms.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/pheaver/haskell-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode
