[submodule "vendor/slime"]
	path = vendor/slime
	url = https://github.com/nablaone/slime.git
[submodule "vendor/unipoint"]
	path = vendor/unipoint
	url = https://github.com/apgwoz/unipoint.git
[submodule "vendor/ant-el"]
	path = vendor/ant-el
	url = https://github.com/apgwoz/ant-el.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/emms"]
	path = vendor/emms
	url = http://git.savannah.gnu.org/r/emms.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/pheaver/haskell-mode.git
[submodule "vendor/geiser"]
	path = vendor/geiser
	url = https://git.gitorious.org/geiser/mainline.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/apgwoz/iced-coffee-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "nrepl.el"]
	path = nrepl.el
	url = https://github.com/clojure-emacs/nrepl.el
[submodule "vendor/nrepl.el"]
	path = vendor/nrepl.el
	url = https://github.com/clojure-emacs/nrepl.el
